<!DOCTYPE html>
<html>
  <head>
    <title>StudentGeo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <% if @page_header.present? %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
