<!DOCTYPE html>
<html>
  <head>
    <title>StudentGeo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="outer-wrapper container-fluid">
    <%#= render 'layouts/site_header' %>
    <div class="row">
      <%= render 'layouts/nav' %>
      <div class="inner-wrapper col-sm-10">
        <% if @page_header.present? %>
          <%= render 'layouts/header' %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
